#calculadora {
    background-color: rgb(114, 126, 185);
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.numero {
    text-align: right;
} 

#heading {
    color:blue;
    padding-left: 40%;
    padding-right: 40%;
}

div.boton_calcular {
    width: 33.3%;
}