#calculadora {
    background-color: rgb(114, 126, 185);
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
    text-align: center;
}

.numero {
    text-align: right;
} 

#heading {
    color:blue;
}

div.boton_calcular {
    width: 33.3%;
}