#calculadora {
    background-color: rgb(114, 126, 185);
    border-radius: 5px;
    padding: 1em;
    width: fit-content;
}

.numero {
    text-align: right;
} 

h2 {
    background-color:blue;
}

#boton-calcular {
    text-align: center;
}